@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor1: #002765; //cor primaria
    --cor2: #97C2BF; //botões desfocados
    --cor3: #ffffff; //fonte conteudo botões e card
    --cor4: #97C2BF; //fonte hover botão
    --cor6: #A6121F; //toast de alert
    --cor7: #edeef0; //fundo dos input
    --cor8: linear-gradient(45deg, #010758, #490d61); //fundo
    --cor9: #ff5945; //botão de cancelar
    --cor10: #f91b00; //botão de cancelar hover
}






.p-button:focus {
    box-shadow: var(--cor3);
    border-color: var(--cor3);
}

.p-button {
    border: none;
}

.p-card {
    box-shadow: none;
}

.p-inputtext:enabled:focus {
    box-shadow: var(--cor3);
    border-color: var(--cor3);
}

.p-inputtext:enabled:hover {
    box-shadow: var(--cor3);
    border-color: var(--cor3);
}